<script>
	import ChartContainer from '$components/chartContainer.svelte';
	import { page } from '$app/stores';

	let symbol;
	page.subscribe((value) => {
		value.stock = symbol;
	});
</script>

<ChartContainer {symbol} />
