<script>
	import ChartContainer from '../../components/chartContainer.svelte';
	export let symbol;
</script>

<div class="p-4 justify-items-center bg-white shadow-lg rounded-lg m-auto w-full">
	<div>
		<h2 class="text-gray-800 text-3xl font-semibold">{symbol} Stock Price</h2>
		<ChartContainer {symbol} />
	</div>
</div>
