<script>
	import Search from './search.svelte';
	import Card from './card.svelte';
</script>

<div class="flex justify-items-center max-w-screen">
	<Search />
</div>
<div class="flex justify-items-center max-w-screen">
	<div
		class="grid grid-cols-1 gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 mt-3 px-6 w-full"
	>
		<Card symbol="AAPL"/>
		<Card symbol="IBM"/>
		<Card symbol="INTC"/>
		<Card symbol="HD"/>
	</div>
</div>
