<script>
	import { operationStore, query } from '@urql/svelte';

	let alphaQuery;

	const knownSymbols = operationStore(`
		query {
			daily_adj_stock(distinct_on: symbol) {
				symbol
			}
		}
	`)
	query(knownSymbols);

	let endpoint =
		'https://www.alphavantage.co/query?function=SYMBOL_SEARCH&apikey=L4Y5A3AS6NLMFLH0&keywords=';

	function sleep(ms) {
		return new Promise((resolve) => setTimeout(resolve, ms));
	}

	async function getQuery() {
		await sleep(12000);
		const response = await fetch(endpoint + alphaQuery);
		let data = await response.json();
		return data.bestMatches;
	}

	let data;

	$: {
		if (alphaQuery !== undefined) {
			data = getQuery();
		}
	}

	$: if(knownSymbols) {
		if (knownSymbols.data) {
			console.log(knownSymbols.data);
		}
	}
</script>

<div class="mt-2 relative mx-auto text-gray-900 shadow-md">
	<input
		class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-t-lg text-sm focus:outline-none font-semibold"
		bind:value={alphaQuery}
		type="search"
		name="search"
		placeholder="Search for stocks"
	/>
	<button type="submit" class="absolute right-0 top-0 mt-3 mr-3">
		<svg
			class="text-gray-900 h-4 w-4 fill-current"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			version="1.1"
			id="Capa_1"
			x="0px"
			y="0px"
			viewBox="0 0 56.966 56.966"
			style="enable-background:new 0 0 56.966 56.966;"
			xml:space="preserve"
			width="512px"
			height="512px"
		>
			<path
				d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
			/>
		</svg>
	</button>
	<div class="border-2 border-gray-300 border-t-0 bg-white rounded-b-lg pt-1">
		<ul>
			{#if alphaQuery !== undefined && alphaQuery !== ''}
				{#await data}
					<li
						class="hover:bg-gray-200 h-10 m-1 px-5 pr-16 text-sm focus:outline-none text-black font-semibold"
					>
						<p>Loading results</p>
					</li>
				{:then results}
					{#each results as result}
						<li class="hover:bg-gray-200 h-10 m-1 px-5 pr-16 text-sm focus:outline-none">
							<a href="/stocks/{result['1. symbol']}" sveltekit:prefetch>
								<p class="font-semibold text-black">{result['1. symbol']}</p>
								<p class="text-gray-500">{result['2. name']}</p>
							</a>
						</li>
					{/each}
				{:catch error}
					<p class="text-red">{error}</p>
				{/await}
			{/if}
		</ul>
	</div>
</div>
{#if $knownSymbols.fetching}
<p>Loading</p>
{:else if $knownSymbols.error}
<p>{knownSymbols.error.message}</p>
{:else}
<p>{knownSymbols.data.daily_adj_stock}</p>
{/if}

<style>
	[type='search']::-webkit-search-cancel-button,
	[type='search']::-webkit-search-decoration {
		-webkit-appearance: none;
		appearance: none;
	}
</style>
