<script>
	// Import global styling for tailwind:
	import '../app.css';

	// Import components:
	import Nav from '$components/nav.svelte';
	import Notifications from '$components/notifications.svelte';

	// Import svelte functions:
	import { onMount } from 'svelte';

	// Import authentication function:
	import auth from '$auth/authService.js';

	// Import stores
	import { isAuthenticated, user } from '$stores/store.js';

	// GraphQL  Setup
	import { initClient } from '@urql/svelte';

	initClient({
		url: import.meta.env.VITE_GRAPHQL_URL,
	});

	// Auth0 Client Setup
	let auth0Client;

	let authenticated;
	isAuthenticated.subscribe((value) => {
		authenticated = value;
	});
	let userInformation;
	user.subscribe((value) => {
		userInformation = value;
	});
	let showNotifications = false;

	onMount(async () => {
		try {
			auth0Client = await auth.createClient();

			isAuthenticated.set(await auth0Client.isAuthenticated());
			user.set(await auth0Client.getUser());
		} catch (e) {
			console.log(e);
		}
	});

	function login() {
		auth.loginWithPopup(auth0Client);
	}

	function logout() {
		auth.logout(auth0Client);
	}

	function toggleNotifications() {
		showNotifications = !showNotifications;
	}
</script>

<div class="bg h-screen b-0">
	<Nav {authenticated} {login} {logout} {toggleNotifications} />
	{#if showNotifications}
		<Notifications />
	{/if}
	<slot />
</div>

<style>
	.bg {
		background-image: url('/background_waves.svg');
		background-color: #001122;
	}
</style>
