<script>
	import ChartContainer from '../components/chartContainer.svelte';
</script>

<svelte:head>
	<title>Real Value</title>
	<link rel="icon" href="./logo.png" />
</svelte:head>
<div class="flex flex-row w-screen">
	<div class="w-2/3">
		<!-- <ChartContainer symbol="AAPL" /> -->
	</div>
</div>
