<script>
	// import { operationStore, query } from '@urql/svelte';
	import * as Pancake from '@sveltejs/pancake';

	export let height = 400;
	export let data = [
		{ time: new Date('2021-11-30'), value: 55 },
		{ time: new Date('2021-11-29'), value: 56 },
		{ time: new Date('2021-11-26'), value: 57 }
	];
	let min = data.reduce((min, p) => (p.value < min ? p.value : min), data[0].value);
	let max = data.reduce((max, p) => (p.value > max ? p.value : max), data[0].value);
	let earliest = data.reduce((min, p) => (p.time < min ? p.time : min), data[0].time);
	let latest = data.reduce((max, p) => (p.time > max ? p.time : max), data[0].time);

	// query(prices);

	// let data, min, max, earliest, latest, rangePrice, rangeTime;
	// $: {
	//     if(prices.fetching) {

	//     }
	//     else if(prices.error) {

	//     }
	//     else {
	//         data = prices.data.stocks_intraday;
	//         data = data.map(item => {
	//             return {
	//                 time: Date.parse(item.time),
	//                 value: item.price_close
	//             };
	//         });
	//         min = data.reduce((min, p) => p.value < min ? p.value : min, data[0].value);
	//         max = data.reduce((max, p) => p.value > max ? p.value : max, data[0].value);
	//         earliest = data.reduce((min, p) => p.time < min ? p.time : min, data[0].time);
	//         latest = data.reduce((max, p) => p.time > max ? p.time : max, data[0].time);
	//         rangePrice = max - min;
	//         rangeTime = latest - earliest;
	//         min = min - 0.1 * rangePrice;
	//         max = max + 0.1 * rangePrice;
	//     }
	// }
</script>

<div class="chart" style="height: {height}px">
	<Pancake.Chart x1={earliest} x2={latest} y1={min} y2={max}>
		<Pancake.Grid horizontal count={5} let:value let:first>
			<div class="grid-line horizontal" class:first>
				<span>{value}</span>
			</div>
		</Pancake.Grid>
		<Pancake.Grid vertical count={5} let:value>
			<div class="grid-line vertical" />
			<span class="day-label"
				>{new Date(value).getMonth()}-{new Date(value).getDate()}-{new Date(
					value
				).getFullYear()}</span
			>
		</Pancake.Grid>
		<Pancake.Svg>
			<Pancake.SvgScatterplot {data} x={(d) => d.time} y={(d) => d.value} let:d>
				<path class="data" {d} />
			</Pancake.SvgScatterplot>
			<Pancake.SvgLine {data} x={(d) => d.time} y={(d) => d.value} let:d>
				<path class="line" {d} />
			</Pancake.SvgLine>
			<Pancake.Quadtree {data} x={(d) => d.time} y={(d) => d.value} let:closest>
				{#if closest}
					<Pancake.SvgPoint x={closest.time} y={closest.value} let:d>
						<path class="highlight" {d} />
					</Pancake.SvgPoint>
				{/if}
			</Pancake.Quadtree>
		</Pancake.Svg>
	</Pancake.Chart>
</div>

<style>
	.chart {
		padding: 3em 0 2em 2em;
		margin: 0 0 36px 0;
	}

	.grid-line {
		position: relative;
		display: block;
	}

	.grid-line.horizontal {
		width: calc(100% + 2em);
		left: -2em;
		border-bottom: 1px dashed #ccc;
	}

	.grid-line.vertical {
		height: 100%;
		border-left: 1px dashed #ccc;
	}

	.grid-line.first {
		border-bottom: 1px solid #333;
	}

	.grid-line span {
		position: absolute;
		left: 0;
		bottom: 0;
		font-family: sans-serif;
		font-size: 14px;
		color: #999;
	}

	.day-label {
		position: relative;
		width: 4em;
		left: -3.5em;
		bottom: -2px;
		font-family: sans-serif;
		font-size: 12px;
		color: #999;
		text-align: center;
		writing-mode: vertical-rl;
		text-orientation: mixed;
	}

	path.data {
		stroke: #fcaf3c;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-width: 6px;
		fill: none;
	}
	path.line {
		stroke: #fcaf3c;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-width: 2px;
		fill: none;
	}

	path.highlight {
		stroke: #ff0066;
		stroke-linejoin: round;
		stroke-linecap: round;
		stroke-width: 10px;
		fill: none;
	}
</style>
