<script>
	import Chart from './chart.svelte';
	import { onMount } from 'svelte';
	let endpoint =
		'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&apikey=L4Y5A3AS6NLMFLH0&symbol=';

	export let symbol = 'AAPL';

	let prom;

	async function getChartData(symbol) {
		let res = await fetch(endpoint + symbol);
		let d = await res.json();
		let data = d['Time Series (Daily)'];
		let output = [];
		for (const [key, value] of Object.entries(data)) {
			output.push({ time: Date.parse(key), value: value['4. close'] });
		}
		return output;
	}

	onMount(() => {
		prom = getChartData(symbol);
	});
</script>

{#await prom}
	Loading
{:then data}
	<Chart {data} />
{/await}
