<script>
	export let authenticated, login, logout, toggleNotifications;

	let showDropdown = false;
	function toggleDropdown() {
		showDropdown = !showDropdown;
	}

	let showMobileMenu = false;
	function toggleMobileMenu() {
		showMobileMenu = !showMobileMenu;
	}

	let y;
	$: {
		y;
		showMobileMenu = false;
	}
</script>

<svelte:window bind:scrollY={y} />

<nav class="bg-gray-600 bg-opacity-20 shadow-lg">
	<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
		<div class="relative flex items-center justify-between h-16">
			<!--Mobile menu-->
			<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
				<button
					type="button"
					class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none foucs:ring-2 focus:ring-inset focus:ring-white"
					aria-controls="mobile-menu"
					aria-expanded="false"
					id="open-mobile-menu"
					on:click={toggleMobileMenu}
				>
					<span class="sr-only">Open main menu</span>
					<!--Closed Menu Icon-->
					<svg
						class="block h-6 w-6"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						aria-hidden="true"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16M4 18h16"
						/>
					</svg>
					<!--Opened Menu Icon-->
					<svg
						class="hidden h-6 w-6"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						aria-hidden="true"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M6 18L18 6M6 6l12 12"
						/>
					</svg>
				</button>
			</div>
			<div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
				<div class="flex-shrink-0 flex items-center">
					<a
						href="/"
						class="flex items-center justify-center text-gray-300 hover:bg-gray-700 hover:text-white px-1 py-1 rounded-md text-lg font-semibold"
						sveltekit:prefetch
					>
						<img class="block h-8 w-auto" src="/logo.png" alt="logo" />
						<h1 class="hidden lg:block h-8 w-auto">Real Value</h1>
					</a>
				</div>
				<div class="hidden sm:block sm:ml-6">
					<div class="flex space-x-4">
						{#if authenticated}
							<a
								href="/dashboard"
								class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
								aria-current="page"
								sveltekit:prefetch>Dashboard</a
							>
						{/if}
						<a
							href="/stocks"
							class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
							sveltekit:prefetch>Stocks</a
						>
						<a
							href="/crypto"
							class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
							sveltekit:prefetch>Cryptocurrencies</a
						>
					</div>
				</div>
			</div>
			<div
				class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
			>
				<button
					class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
					on:click={toggleNotifications}
				>
					<span class="sr-only">View notifications</span>
					<!--Bell outline icon-->
					<svg
						class="h-6 w-6"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						aria-hidden="true"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
						/>
					</svg>
				</button>
				<!--Profile settings-->
				<div class="ml-3 relative">
					<div>
						{#if authenticated}
							<button
								class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
								id="user-menu-button"
								aria-expanded="false"
								aria-haspopup="true"
								on:click={toggleDropdown}
							>
								<span class="sr-only">Open user menu</span>
								<!--User profile image-->
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="h-8 w-8"
									fill="none"
									viewBox="0 0 24 24"
									stroke="white"
								>
									<path
										strokeLinecap="round"
										strokeLinejoin="round"
										strokeWidth={2}
										d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
									/>
								</svg>
							</button>
						{:else}
							<button
								on:click={login}
								class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
								>Sign In</button
							>
						{/if}
					</div>
					<!--Profile dropdown menu-->
					{#if showDropdown}
						<div
							class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-50"
							role="menu"
							aria-orientation="vertical"
							aria-labelledby="user-menu-button"
							tabindex="-1"
						>
							<!-- Active: "bg-gray-100", Not Active: "" -->
							<a
								href="/profile"
								class="block px-4 py-2 text-sm text-gray-700"
								role="menuitem"
								tabindex="-1"
								id="user-menu-item-0"
								sveltekit:prefetch>Your Profile</a
							>
							<a
								href="/settings"
								class="block px-4 py-2 text-sm text-gray-700"
								role="menuitem"
								tabindex="-1"
								id="user-menu-item-1"
								sveltekit:prefetch>Settings</a
							>
							<button
								on:click={logout}
								class="block px-4 py-2 text-sm text-gray-700"
								role="menuitem"
								tabindex="-1"
								id="user-menu-item-2">Sign out</button
							>
						</div>
					{/if}
				</div>
			</div>
		</div>
	</div>
	<div class="sm:hidden {!showMobileMenu ? 'hidden' : ''}" id="mobile-menu">
		<div class="px-2 pt-2 pb-3 space-y-1">
			<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
			{#if authenticated}
				<a
					href="/dashboard"
					class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
					aria-current="page"
					sveltekit:prefetch>Dashboard</a
				>
			{/if}
			<a
				href="/stocks"
				class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
				sveltekit:prefetch
			>
				Stocks
			</a>
			<a
				href="/crypto"
				class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
				sveltekit:prefetch
			>
				Cryptocurrencies
			</a>
		</div>
	</div>
</nav>
